html,body{font-family: sans-serif;}

.container{
    max-width: 400px;
    margin: 0 auto;
}

.image {
    width:160px;
    height: 160px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    transition: all;
    transition-duration: 800ms;
}

.image:hover {
    transform: rotate(4turn);
    scale: 1.4;
}