html,body{font-family: sans-serif;}

.container{
    max-width: 500px;
    margin: 0 auto;
}

.image {
    width:150px;
    height: 150px;
    border-radius: 80%;
    overflow: hidden;
    object-fit: cover;
    transition: all;
    transition-duration: 1600ms;
}

.image:hover {
    transform: rotate(4turn);
    scale: 1.4;
}